In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [5]:
s1 = pd.Series([1,3,5])
s1

0    1
1    3
2    5
dtype: int64

In [6]:
s2 = pd.Series([1.1,3,5])

In [7]:
s2

0    1.1
1    3.0
2    5.0
dtype: float64

In [8]:
dates = pd.date_range('20150915', periods=6)
dates

DatetimeIndex(['2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18',
               '2015-09-19', '2015-09-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [10]:
df1 = pd.DataFrame(np.random.randn(4,6), index=list('ABCD'), columns=dates)
df1

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.773022    0.016938   -1.832433    0.833133   -1.310897    0.356371
B    0.538894    1.346779    1.184113    2.083957   -0.164740    1.573228
C   -0.979120    0.649040    0.752769   -1.058205    0.129417    1.034801
D    0.700713    0.177159   -0.546031    0.651260   -1.739472    0.039838

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20150915'),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [12]:
df2

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  1 2015-09-15  1  3  train  foo
2  1 2015-09-15  1  3   test  foo
3  1 2015-09-15  1  3  train  foo

In [13]:
df3 = pd.DataFrame({ 'A' : list([1,2,3,4]),
                     'B' : pd.Timestamp('20150915'),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [14]:
df3

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  2 2015-09-15  1  3  train  foo
2  3 2015-09-15  1  3   test  foo
3  4 2015-09-15  1  3  train  foo

In [15]:
df3 = pd.DataFrame({ 'A' : list([1,2,3,4]),
                     'B' : pd.date_range('20150915', periods=4),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [16]:
df3

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  2 2015-09-16  1  3  train  foo
2  3 2015-09-17  1  3   test  foo
3  4 2015-09-18  1  3  train  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-18-e8d0e54abc86>, line 1)

In [19]:
df.head()

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555

In [20]:
df.tail(3)

                   A         B         C         D
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [21]:
df.tail(2)

                   A         B         C         D
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [22]:
df.head(3)

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121

In [23]:
df.head(7)

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [24]:
df.tail()

                   A         B         C         D
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [25]:
df.index

DatetimeIndex(['2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18',
               '2015-09-19', '2015-09-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [26]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [27]:
df.values

array([[-0.16194936,  0.94649728,  0.22564707, -0.9461394 ],
       [-1.30811801, -0.43414371,  1.28132994, -0.76541858],
       [-0.24575201,  1.71077242, -0.69856796, -0.32712126],
       [-0.74818926, -0.79160552, -0.39680283,  2.27162311],
       [ 1.01938066,  0.48424793, -0.79876821, -1.03355473],
       [-0.66793593, -0.42388577,  0.94496601,  0.08225502]])

In [28]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.352094  0.248647  0.092967 -0.119726
std    0.787278  0.967568  0.873763  1.243971
min   -1.308118 -0.791606 -0.798768 -1.033555
25%   -0.728126 -0.431579 -0.623127 -0.900959
50%   -0.456844  0.030181 -0.085578 -0.546270
75%   -0.182900  0.830935  0.765136 -0.020089
max    1.019381  1.710772  1.281330  2.271623

In [29]:
df2.describe()

       A  C  D
count  4  4  4
mean   1  1  3
std    0  0  0
min    1  1  3
25%    1  1  3
50%    1  1  3
75%    1  1  3
max    1  1  3

In [30]:
df.T

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.161949   -1.308118   -0.245752   -0.748189    1.019381   -0.667936
B    0.946497   -0.434144    1.710772   -0.791606    0.484248   -0.423886
C    0.225647    1.281330   -0.698568   -0.396803   -0.798768    0.944966
D   -0.946139   -0.765419   -0.327121    2.271623   -1.033555    0.082255

In [31]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2015-09-15 00:00:00,2015-09-15 00:00:00,2015-09-15 00:00:00,2015-09-15 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [32]:
df1.T

                   A         B         C         D
2015-09-15 -0.773022  0.538894 -0.979120  0.700713
2015-09-16  0.016938  1.346779  0.649040  0.177159
2015-09-17 -1.832433  1.184113  0.752769 -0.546031
2015-09-18  0.833133  2.083957 -1.058205  0.651260
2015-09-19 -1.310897 -0.164740  0.129417 -1.739472
2015-09-20  0.356371  1.573228  1.034801  0.039838

In [33]:
df1

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.773022    0.016938   -1.832433    0.833133   -1.310897    0.356371
B    0.538894    1.346779    1.184113    2.083957   -0.164740    1.573228
C   -0.979120    0.649040    0.752769   -1.058205    0.129417    1.034801
D    0.700713    0.177159   -0.546031    0.651260   -1.739472    0.039838

In [34]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2015-09-15 -0.946139  0.225647  0.946497 -0.161949
2015-09-16 -0.765419  1.281330 -0.434144 -1.308118
2015-09-17 -0.327121 -0.698568  1.710772 -0.245752
2015-09-18  2.271623 -0.396803 -0.791606 -0.748189
2015-09-19 -1.033555 -0.798768  0.484248  1.019381
2015-09-20  0.082255  0.944966 -0.423886 -0.667936

In [35]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [36]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2015-09-20 -0.667936 -0.423886  0.944966  0.082255
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-15 -0.161949  0.946497  0.225647 -0.946139

In [37]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [38]:
df.sort(columns='B')

                   A         B         C         D
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-20 -0.667936 -0.423886  0.944966  0.082255
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121

In [39]:
df['A']

2015-09-15   -0.161949
2015-09-16   -1.308118
2015-09-17   -0.245752
2015-09-18   -0.748189
2015-09-19    1.019381
2015-09-20   -0.667936
Freq: D, Name: A, dtype: float64

In [40]:
df.A

2015-09-15   -0.161949
2015-09-16   -1.308118
2015-09-17   -0.245752
2015-09-18   -0.748189
2015-09-19    1.019381
2015-09-20   -0.667936
Freq: D, Name: A, dtype: float64

In [41]:
df[0:3]

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121

In [42]:
df['20150915','20150920']

KeyError: ('20150915', '20150920')

In [43]:
df['20150915':'20150919']

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555

In [44]:
df.loc[dates[0]]

A   -0.161949
B    0.946497
C    0.225647
D   -0.946139
Name: 2015-09-15 00:00:00, dtype: float64

In [45]:
df.loc[dates[4]]

A    1.019381
B    0.484248
C   -0.798768
D   -1.033555
Name: 2015-09-19 00:00:00, dtype: float64

In [46]:
df.loc[:,['A','B']]

                   A         B
2015-09-15 -0.161949  0.946497
2015-09-16 -1.308118 -0.434144
2015-09-17 -0.245752  1.710772
2015-09-18 -0.748189 -0.791606
2015-09-19  1.019381  0.484248
2015-09-20 -0.667936 -0.423886

In [47]:
df.loc['20150916':'20150919',['A','B']]

                   A         B
2015-09-16 -1.308118 -0.434144
2015-09-17 -0.245752  1.710772
2015-09-18 -0.748189 -0.791606
2015-09-19  1.019381  0.484248

In [48]:
df.loc['20150916',['A','B']]

A   -1.308118
B   -0.434144
Name: 2015-09-16 00:00:00, dtype: float64

In [49]:
df.loc[dates[0],'A']

-0.16194936306221533

In [50]:
df.at[dates[0],'A']

-0.16194936306221533

In [51]:
df.iloc[3]

A   -0.748189
B   -0.791606
C   -0.396803
D    2.271623
Name: 2015-09-18 00:00:00, dtype: float64

In [52]:
df

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [53]:
df.iloc[0]

A   -0.161949
B    0.946497
C    0.225647
D   -0.946139
Name: 2015-09-15 00:00:00, dtype: float64

In [54]:
df.iloc[3:5,0:2]

                   A         B
2015-09-18 -0.748189 -0.791606
2015-09-19  1.019381  0.484248

In [55]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2015-09-16 -1.308118  1.281330
2015-09-17 -0.245752 -0.698568
2015-09-19  1.019381 -0.798768

In [56]:
df.iloc[1:3,:]

                   A         B         C         D
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121

In [57]:
df.iloc[:,1:3]

                   B         C
2015-09-15  0.946497  0.225647
2015-09-16 -0.434144  1.281330
2015-09-17  1.710772 -0.698568
2015-09-18 -0.791606 -0.396803
2015-09-19  0.484248 -0.798768
2015-09-20 -0.423886  0.944966

In [58]:
df.iloc[1,1]

-0.43414371284833292

In [59]:
df.iat[1,1]

-0.43414371284833292

In [60]:
df[df.A > 0]

                   A         B         C         D
2015-09-19  1.019381  0.484248 -0.798768 -1.033555

In [61]:
df[df.D > 0]

                   A         B         C         D
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [62]:
df[df > 0]

                   A         B         C         D
2015-09-15       NaN  0.946497  0.225647       NaN
2015-09-16       NaN       NaN  1.281330       NaN
2015-09-17       NaN  1.710772       NaN       NaN
2015-09-18       NaN       NaN       NaN  2.271623
2015-09-19  1.019381  0.484248       NaN       NaN
2015-09-20       NaN       NaN  0.944966  0.082255

In [63]:
df2 = df.copy()

In [64]:
df2['E'] = ['one', 'one','two','three','four','three']

In [65]:
df2

                   A         B         C         D      E
2015-09-15 -0.161949  0.946497  0.225647 -0.946139    one
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419    one
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121    two
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623  three
2015-09-19  1.019381  0.484248 -0.798768 -1.033555   four
2015-09-20 -0.667936 -0.423886  0.944966  0.082255  three

In [66]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121   two
2015-09-19  1.019381  0.484248 -0.798768 -1.033555  four

In [67]:
df2[df2['E'].isin(['one'])]

                   A         B         C         D    E
2015-09-15 -0.161949  0.946497  0.225647 -0.946139  one
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419  one

In [69]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20150916', periods=6))

In [70]:
s1

2015-09-16    1
2015-09-17    2
2015-09-18    3
2015-09-19    4
2015-09-20    5
2015-09-21    6
Freq: D, dtype: int64

In [71]:
df['F'] = s1
df

                   A         B         C         D   F
2015-09-15 -0.161949  0.946497  0.225647 -0.946139 NaN
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419   1
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121   2
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623   3
2015-09-19  1.019381  0.484248 -0.798768 -1.033555   4
2015-09-20 -0.667936 -0.423886  0.944966  0.082255   5

In [72]:
df.at[dates[0],'A'] = 0
df.iat[0,1] = 0
df.loc[:,'D'] = np.array([5] * len(df))

In [73]:
df

                   A         B         C  D   F
2015-09-15  0.000000  0.000000  0.225647  5 NaN
2015-09-16 -1.308118 -0.434144  1.281330  5   1
2015-09-17 -0.245752  1.710772 -0.698568  5   2
2015-09-18 -0.748189 -0.791606 -0.396803  5   3
2015-09-19  1.019381  0.484248 -0.798768  5   4
2015-09-20 -0.667936 -0.423886  0.944966  5   5

In [75]:
df.at[dates[1],'A'] = -1
df.iat[2,2] = 0.5

In [77]:
df

                   A         B         C  D   F
2015-09-15  0.000000  0.000000  0.225647  5 NaN
2015-09-16 -1.000000 -0.434144  1.281330  5   1
2015-09-17 -0.245752  1.710772  0.500000  5   2
2015-09-18 -0.748189 -0.791606 -0.396803  5   3
2015-09-19  1.019381  0.484248 -0.798768  5   4
2015-09-20 -0.667936 -0.423886  0.944966  5   5

In [80]:
df2 = df.copy()

In [81]:
df2[df2 > 0] = -df2
df2

                   A         B         C  D   F
2015-09-15  0.000000  0.000000 -0.225647 -5 NaN
2015-09-16 -1.000000 -0.434144 -1.281330 -5  -1
2015-09-17 -0.245752 -1.710772 -0.500000 -5  -2
2015-09-18 -0.748189 -0.791606 -0.396803 -5  -3
2015-09-19 -1.019381 -0.484248 -0.798768 -5  -4
2015-09-20 -0.667936 -0.423886 -0.944966 -5  -5

In [85]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [86]:
df1

                   A         B         C  D   F   E
2015-09-15  0.000000  0.000000  0.225647  5 NaN NaN
2015-09-16 -1.000000 -0.434144  1.281330  5   1 NaN
2015-09-17 -0.245752  1.710772  0.500000  5   2 NaN
2015-09-18 -0.748189 -0.791606 -0.396803  5   3 NaN

In [87]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [88]:
df1

                   A         B         C  D   F   E
2015-09-15  0.000000  0.000000  0.225647  5 NaN   1
2015-09-16 -1.000000 -0.434144  1.281330  5   1   1
2015-09-17 -0.245752  1.710772  0.500000  5   2 NaN
2015-09-18 -0.748189 -0.791606 -0.396803  5   3 NaN

In [89]:
df1.loc[dates[2], ['A','B']] = 2

In [90]:
df1

                   A         B         C  D   F   E
2015-09-15  0.000000  0.000000  0.225647  5 NaN   1
2015-09-16 -1.000000 -0.434144  1.281330  5   1   1
2015-09-17  2.000000  2.000000  0.500000  5   2 NaN
2015-09-18 -0.748189 -0.791606 -0.396803  5   3 NaN

In [91]:
df1.loc[dates[3], ['A':'C']] = 3

SyntaxError: invalid syntax (<ipython-input-91-91530a2b35fe>, line 1)

In [92]:
df1.dropna(how='any')

            A         B        C  D  F  E
2015-09-16 -1 -0.434144  1.28133  5  1  1

In [95]:
df1.fillna(value=10)

                   A         B         C  D   F   E
2015-09-15  0.000000  0.000000  0.225647  5  10   1
2015-09-16 -1.000000 -0.434144  1.281330  5   1   1
2015-09-17  2.000000  2.000000  0.500000  5   2  10
2015-09-18 -0.748189 -0.791606 -0.396803  5   3  10

In [96]:
pd.isnull(df1)

                A      B      C      D      F      E
2015-09-15  False  False  False  False   True  False
2015-09-16  False  False  False  False  False  False
2015-09-17  False  False  False  False  False   True
2015-09-18  False  False  False  False  False   True

In [97]:
df.mean()

A   -0.273749
B    0.090898
C    0.292729
D    5.000000
F    3.000000
dtype: float64

In [98]:
df.mean(1)

2015-09-15    1.306412
2015-09-16    1.169437
2015-09-17    1.793004
2015-09-18    1.212680
2015-09-19    1.940972
2015-09-20    1.970629
Freq: D, dtype: float64

In [100]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2015-09-15   NaN
2015-09-16   NaN
2015-09-17     1
2015-09-18     3
2015-09-19     5
2015-09-20   NaN
Freq: D, dtype: float64

In [103]:
df.sub(s, axis='index')

                   A         B         C   D   F
2015-09-15       NaN       NaN       NaN NaN NaN
2015-09-16       NaN       NaN       NaN NaN NaN
2015-09-17 -1.245752  0.710772 -0.500000   4   1
2015-09-18 -3.748189 -3.791606 -3.396803   2   0
2015-09-19 -3.980619 -4.515752 -5.798768   0  -1
2015-09-20       NaN       NaN       NaN NaN NaN

In [105]:
df

                   A         B         C  D   F
2015-09-15  0.000000  0.000000  0.225647  5 NaN
2015-09-16 -1.000000 -0.434144  1.281330  5   1
2015-09-17 -0.245752  1.710772  0.500000  5   2
2015-09-18 -0.748189 -0.791606 -0.396803  5   3
2015-09-19  1.019381  0.484248 -0.798768  5   4
2015-09-20 -0.667936 -0.423886  0.944966  5   5

In [106]:
df.apply(np.cumsum)

                   A         B         C   D   F
2015-09-15  0.000000  0.000000  0.225647   5 NaN
2015-09-16 -1.000000 -0.434144  1.506977  10   1
2015-09-17 -1.245752  1.276629  2.006977  15   3
2015-09-18 -1.993941  0.485023  1.610174  20   6
2015-09-19 -0.974561  0.969271  0.811406  25  10
2015-09-20 -1.642497  0.545385  1.756372  30  15

In [108]:
df.apply(lambda x: x.max() - x.min())

A    2.019381
B    2.502378
C    2.080098
D    0.000000
F    4.000000
dtype: float64

In [109]:
s = pd.Series(np.random.randint(0,7, size=10))

In [110]:
s

0    5
1    2
2    1
3    6
4    5
5    3
6    0
7    2
8    0
9    2
dtype: int32

In [111]:
s.value_counts()

2    3
5    2
0    2
6    1
3    1
1    1
dtype: int64

In [112]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [113]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [114]:
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5     NaN
6    CABA
7     DOG
8     CAT
dtype: object

In [115]:
s.str.len()

0     1
1     1
2     1
3     4
4     4
5   NaN
6     4
7     3
8     3
dtype: float64

In [119]:
# Merge_concat
df = pd.DataFrame(np.random.randn(10,4))

In [120]:
df

          0         1         2         3
0  0.832523 -0.488944 -0.021319 -0.270413
1 -0.942018  0.211581  0.247702  0.508799
2 -2.267292  0.268036 -1.784622 -0.499244
3  0.507144  0.925208 -0.890362 -1.485465
4 -0.621539 -0.698218  0.211498 -0.118707
5 -0.892422  1.097839 -0.604206 -0.973860
6  1.051976  0.742586 -0.138098 -1.493935
7  0.108518  1.495438 -0.077303  0.527575
8 -0.846695  1.144038 -1.208428  0.044322
9 -1.081863  1.456143 -0.237752  1.093364

In [121]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0  0.832523 -0.488944 -0.021319 -0.270413
 1 -0.942018  0.211581  0.247702  0.508799
 2 -2.267292  0.268036 -1.784622 -0.499244,
           0         1         2         3
 3  0.507144  0.925208 -0.890362 -1.485465
 4 -0.621539 -0.698218  0.211498 -0.118707
 5 -0.892422  1.097839 -0.604206 -0.973860
 6  1.051976  0.742586 -0.138098 -1.493935,
           0         1         2         3
 7  0.108518  1.495438 -0.077303  0.527575
 8 -0.846695  1.144038 -1.208428  0.044322
 9 -1.081863  1.456143 -0.237752  1.093364]

In [122]:
pd.concat(pieces)

          0         1         2         3
0  0.832523 -0.488944 -0.021319 -0.270413
1 -0.942018  0.211581  0.247702  0.508799
2 -2.267292  0.268036 -1.784622 -0.499244
3  0.507144  0.925208 -0.890362 -1.485465
4 -0.621539 -0.698218  0.211498 -0.118707
5 -0.892422  1.097839 -0.604206 -0.973860
6  1.051976  0.742586 -0.138098 -1.493935
7  0.108518  1.495438 -0.077303  0.527575
8 -0.846695  1.144038 -1.208428  0.044322
9 -1.081863  1.456143 -0.237752  1.093364

In [126]:
#Merge_join
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [127]:
left

   key  lval
0  foo     1
1  foo     2

In [128]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [129]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [130]:
pd.merge(right, left, on='key')

   key  rval  lval
0  foo     4     1
1  foo     4     2
2  foo     5     1
3  foo     5     2

In [133]:
right = pd.DataFrame({'rval': [4, 5], 'key': ['foo', 'foo']})

In [134]:
right

   key  rval
0  foo     4
1  foo     5

In [135]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [141]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                   'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']})
result = pd.merge(left, right, on='key')

In [142]:
result

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [143]:
#Merge_append
df = pd.DataFrame(np.random.randn(8,4), columns=['A','B','C','D'])
df

          A         B         C         D
0 -1.565437  0.282572 -0.964319 -1.324820
1  0.260993 -0.334538 -1.734700  1.077189
2 -0.053136  0.549031  1.613061 -0.526848
3  0.120967 -0.586505 -0.836416  0.477282
4 -0.544400 -0.268717 -0.556096  0.058917
5 -0.960106  2.495164  0.422125 -0.659503
6 -1.005236 -0.750116  0.800632  0.520722
7 -2.070731  0.899249  0.461146 -0.966959

In [144]:
s = df.iloc[3]

In [145]:
s

A    0.120967
B   -0.586505
C   -0.836416
D    0.477282
Name: 3, dtype: float64

In [146]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -1.565437  0.282572 -0.964319 -1.324820
1  0.260993 -0.334538 -1.734700  1.077189
2 -0.053136  0.549031  1.613061 -0.526848
3  0.120967 -0.586505 -0.836416  0.477282
4 -0.544400 -0.268717 -0.556096  0.058917
5 -0.960106  2.495164  0.422125 -0.659503
6 -1.005236 -0.750116  0.800632  0.520722
7 -2.070731  0.899249  0.461146 -0.966959
8  0.120967 -0.586505 -0.836416  0.477282

In [149]:
#Grouping
df= pd.DataFrame({'A': ['foo', 'bar', 'foo','bar',
                        'foo', 'bar', 'foo', 'foo'],
                  'B': ['one', 'one', 'two', 'three',
                        'two', 'two', 'one', 'three'],
                  'C': np.random.randn(8),
                  'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one -0.139050 -0.198705
1  bar    one -0.271282 -0.337187
2  foo    two  0.749637  0.855840
3  bar  three -1.955017 -0.824430
4  foo    two -0.605817 -1.019487
5  bar    two  0.206754 -0.750029
6  foo    one  0.322499 -0.836906
7  foo  three -0.977639  1.372459

In [150]:
df.groupby('A').sum()

            C         D
A
bar -2.019544 -1.911646
foo -0.650370  0.173201

In [151]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -0.271282 -0.337187
    three -1.955017 -0.824430
    two    0.206754 -0.750029
foo one    0.183449 -1.035611
    three -0.977639  1.372459
    two    0.143820 -0.163647

In [152]:
df.groupby('A').mean()

            C         D
A
bar -0.673181 -0.637215
foo -0.130074  0.034640

In [154]:
#Reshaping_stack
tuples = list(zip(*[['bar','bar','baz','baz',
                     'foo','foo','qux','qux'],
                   ['one', 'two', 'one', 'two',
                   'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8,2), index=index, columns = ['A','B'])

In [155]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [156]:
index

MultiIndex(levels=[[u'bar', u'baz', u'foo', u'qux'], [u'one', u'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=[u'first', u'second'])

In [157]:
df

                     A         B
first second
bar   one    -1.856863 -0.059846
      two    -0.100189 -0.209673
baz   one    -0.451953  0.460136
      two     0.814626  0.130149
foo   one     0.348594 -0.880282
      two     1.463789 -0.183743
qux   one    -0.597800 -2.061848
      two    -1.759813 -0.721514

In [158]:
df2 = df[:4]

In [160]:
df2

                     A         B
first second
bar   one    -1.856863 -0.059846
      two    -0.100189 -0.209673
baz   one    -0.451953  0.460136
      two     0.814626  0.130149

In [161]:
stacked = df2.stack()

In [162]:
stacked

first  second
bar    one     A   -1.856863
               B   -0.059846
       two     A   -0.100189
               B   -0.209673
baz    one     A   -0.451953
               B    0.460136
       two     A    0.814626
               B    0.130149
dtype: float64

In [163]:
stacked.unstack()

                     A         B
first second
bar   one    -1.856863 -0.059846
      two    -0.100189 -0.209673
baz   one    -0.451953  0.460136
      two     0.814626  0.130149

In [164]:
stacked.unstack(1)

second        one       two
first
bar   A -1.856863 -0.100189
      B -0.059846 -0.209673
baz   A -0.451953  0.814626
      B  0.460136  0.130149

In [165]:
stacked.unstack(0)

first          bar       baz
second
one    A -1.856863 -0.451953
       B -0.059846  0.460136
two    A -0.100189  0.814626
       B -0.209673  0.130149

In [166]:
stacked.unstack(2)

                     A         B
first second
bar   one    -1.856863 -0.059846
      two    -0.100189 -0.209673
baz   one    -0.451953  0.460136
      two     0.814626  0.130149

In [167]:
#Reshaping_pivot tables
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo  0.565624 -0.820394
1     one  B  foo -0.111456  0.992695
2     two  C  foo  1.350673 -0.212109
3   three  A  bar  0.498635 -1.184812
4     one  B  bar  0.204181  0.219231
5     one  C  bar -0.811340 -0.185777
6     two  A  foo  0.461914  1.091088
7   three  B  foo  0.830424 -0.801544
8     one  C  foo -0.194988  1.297238
9     one  A  bar  1.119489 -2.447344
10    two  B  bar -1.446684  0.024393
11  three  C  bar -0.630664  0.315697

In [168]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  1.119489  0.565624
      B  0.204181 -0.111456
      C -0.811340 -0.194988
three A  0.498635       NaN
      B       NaN  0.830424
      C -0.630664       NaN
two   A       NaN  0.461914
      B -1.446684       NaN
      C       NaN  1.350673

In [169]:
pd.pivot_table(df, values='D', index=['C'], columns=['A'])

A         one     three       two
C
bar  0.170777 -0.066015 -1.446684
foo  0.086393  0.830424  0.906294