In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [5]:
s1 = pd.Series([1,3,5])
s1

0    1
1    3
2    5
dtype: int64

In [6]:
s2 = pd.Series([1.1,3,5])

In [7]:
s2

0    1.1
1    3.0
2    5.0
dtype: float64

In [9]:
dates = pd.date_range('20150915', periods=6)
dates

DatetimeIndex(['2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18',
               '2015-09-19', '2015-09-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2015-09-15 -0.810983  0.551647 -0.257801 -0.261778
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-17  1.545043 -0.334921 -0.117245  1.402816
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-20 -0.411804  0.688935  0.555261 -0.889051

In [12]:
df1 = pd.DataFrame(np.random.randn(4,6), index=list('ABCD'), columns=dates)
df1

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.238749   -0.368630    1.500117    0.704586   -1.207108   -0.510448
B   -1.008645   -1.533395    0.194862   -0.041722    1.758212    0.903072
C    0.579109    0.561487    1.352029   -0.165049    0.449625   -1.299286
D   -0.521283    0.561583   -1.874726    0.778346   -0.838208    0.240571

In [14]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20150915'),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [15]:
df2

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  1 2015-09-15  1  3  train  foo
2  1 2015-09-15  1  3   test  foo
3  1 2015-09-15  1  3  train  foo

In [19]:
df3 = pd.DataFrame({ 'A' : list([1,2,3,4]),
                     'B' : pd.Timestamp('20150915'),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [20]:
df3

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  2 2015-09-15  1  3  train  foo
2  3 2015-09-15  1  3   test  foo
3  4 2015-09-15  1  3  train  foo

In [23]:
df3 = pd.DataFrame({ 'A' : list([1,2,3,4]),
                     'B' : pd.date_range('20150915', periods=4),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [24]:
df3

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  2 2015-09-16  1  3  train  foo
2  3 2015-09-17  1  3   test  foo
3  4 2015-09-18  1  3  train  foo

In [34]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [35]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-35-e8d0e54abc86>, line 1)