In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [5]:
s1 = pd.Series([1,3,5])
s1

0    1
1    3
2    5
dtype: int64

In [6]:
s2 = pd.Series([1.1,3,5])

In [7]:
s2

0    1.1
1    3.0
2    5.0
dtype: float64

In [8]:
dates = pd.date_range('20150915', periods=6)
dates

DatetimeIndex(['2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18',
               '2015-09-19', '2015-09-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [10]:
df1 = pd.DataFrame(np.random.randn(4,6), index=list('ABCD'), columns=dates)
df1

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.773022    0.016938   -1.832433    0.833133   -1.310897    0.356371
B    0.538894    1.346779    1.184113    2.083957   -0.164740    1.573228
C   -0.979120    0.649040    0.752769   -1.058205    0.129417    1.034801
D    0.700713    0.177159   -0.546031    0.651260   -1.739472    0.039838

In [11]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20150915'),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [12]:
df2

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  1 2015-09-15  1  3  train  foo
2  1 2015-09-15  1  3   test  foo
3  1 2015-09-15  1  3  train  foo

In [13]:
df3 = pd.DataFrame({ 'A' : list([1,2,3,4]),
                     'B' : pd.Timestamp('20150915'),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [14]:
df3

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  2 2015-09-15  1  3  train  foo
2  3 2015-09-15  1  3   test  foo
3  4 2015-09-15  1  3  train  foo

In [15]:
df3 = pd.DataFrame({ 'A' : list([1,2,3,4]),
                     'B' : pd.date_range('20150915', periods=4),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [16]:
df3

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  2 2015-09-16  1  3  train  foo
2  3 2015-09-17  1  3   test  foo
3  4 2015-09-18  1  3  train  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-18-e8d0e54abc86>, line 1)

In [19]:
df.head()

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555

In [20]:
df.tail(3)

                   A         B         C         D
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [21]:
df.tail(2)

                   A         B         C         D
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [22]:
df.head(3)

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121

In [23]:
df.head(7)

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [24]:
df.tail()

                   A         B         C         D
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [25]:
df.index

DatetimeIndex(['2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18',
               '2015-09-19', '2015-09-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [26]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [27]:
df.values

array([[-0.16194936,  0.94649728,  0.22564707, -0.9461394 ],
       [-1.30811801, -0.43414371,  1.28132994, -0.76541858],
       [-0.24575201,  1.71077242, -0.69856796, -0.32712126],
       [-0.74818926, -0.79160552, -0.39680283,  2.27162311],
       [ 1.01938066,  0.48424793, -0.79876821, -1.03355473],
       [-0.66793593, -0.42388577,  0.94496601,  0.08225502]])

In [28]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.352094  0.248647  0.092967 -0.119726
std    0.787278  0.967568  0.873763  1.243971
min   -1.308118 -0.791606 -0.798768 -1.033555
25%   -0.728126 -0.431579 -0.623127 -0.900959
50%   -0.456844  0.030181 -0.085578 -0.546270
75%   -0.182900  0.830935  0.765136 -0.020089
max    1.019381  1.710772  1.281330  2.271623

In [29]:
df2.describe()

       A  C  D
count  4  4  4
mean   1  1  3
std    0  0  0
min    1  1  3
25%    1  1  3
50%    1  1  3
75%    1  1  3
max    1  1  3

In [30]:
df.T

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.161949   -1.308118   -0.245752   -0.748189    1.019381   -0.667936
B    0.946497   -0.434144    1.710772   -0.791606    0.484248   -0.423886
C    0.225647    1.281330   -0.698568   -0.396803   -0.798768    0.944966
D   -0.946139   -0.765419   -0.327121    2.271623   -1.033555    0.082255

In [31]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2015-09-15 00:00:00,2015-09-15 00:00:00,2015-09-15 00:00:00,2015-09-15 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [32]:
df1.T

                   A         B         C         D
2015-09-15 -0.773022  0.538894 -0.979120  0.700713
2015-09-16  0.016938  1.346779  0.649040  0.177159
2015-09-17 -1.832433  1.184113  0.752769 -0.546031
2015-09-18  0.833133  2.083957 -1.058205  0.651260
2015-09-19 -1.310897 -0.164740  0.129417 -1.739472
2015-09-20  0.356371  1.573228  1.034801  0.039838

In [33]:
df1

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.773022    0.016938   -1.832433    0.833133   -1.310897    0.356371
B    0.538894    1.346779    1.184113    2.083957   -0.164740    1.573228
C   -0.979120    0.649040    0.752769   -1.058205    0.129417    1.034801
D    0.700713    0.177159   -0.546031    0.651260   -1.739472    0.039838

In [34]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2015-09-15 -0.946139  0.225647  0.946497 -0.161949
2015-09-16 -0.765419  1.281330 -0.434144 -1.308118
2015-09-17 -0.327121 -0.698568  1.710772 -0.245752
2015-09-18  2.271623 -0.396803 -0.791606 -0.748189
2015-09-19 -1.033555 -0.798768  0.484248  1.019381
2015-09-20  0.082255  0.944966 -0.423886 -0.667936

In [35]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [36]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2015-09-20 -0.667936 -0.423886  0.944966  0.082255
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-15 -0.161949  0.946497  0.225647 -0.946139

In [37]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [38]:
df.sort(columns='B')

                   A         B         C         D
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-20 -0.667936 -0.423886  0.944966  0.082255
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121

In [39]:
df['A']

2015-09-15   -0.161949
2015-09-16   -1.308118
2015-09-17   -0.245752
2015-09-18   -0.748189
2015-09-19    1.019381
2015-09-20   -0.667936
Freq: D, Name: A, dtype: float64

In [40]:
df.A

2015-09-15   -0.161949
2015-09-16   -1.308118
2015-09-17   -0.245752
2015-09-18   -0.748189
2015-09-19    1.019381
2015-09-20   -0.667936
Freq: D, Name: A, dtype: float64

In [41]:
df[0:3]

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121

In [42]:
df['20150915','20150920']

KeyError: ('20150915', '20150920')

In [43]:
df['20150915':'20150919']

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555

In [44]:
df.loc[dates[0]]

A   -0.161949
B    0.946497
C    0.225647
D   -0.946139
Name: 2015-09-15 00:00:00, dtype: float64

In [45]:
df.loc[dates[4]]

A    1.019381
B    0.484248
C   -0.798768
D   -1.033555
Name: 2015-09-19 00:00:00, dtype: float64

In [46]:
df.loc[:,['A','B']]

                   A         B
2015-09-15 -0.161949  0.946497
2015-09-16 -1.308118 -0.434144
2015-09-17 -0.245752  1.710772
2015-09-18 -0.748189 -0.791606
2015-09-19  1.019381  0.484248
2015-09-20 -0.667936 -0.423886

In [47]:
df.loc['20150916':'20150919',['A','B']]

                   A         B
2015-09-16 -1.308118 -0.434144
2015-09-17 -0.245752  1.710772
2015-09-18 -0.748189 -0.791606
2015-09-19  1.019381  0.484248

In [48]:
df.loc['20150916',['A','B']]

A   -1.308118
B   -0.434144
Name: 2015-09-16 00:00:00, dtype: float64

In [49]:
df.loc[dates[0],'A']

-0.16194936306221533

In [50]:
df.at[dates[0],'A']

-0.16194936306221533

In [51]:
df.iloc[3]

A   -0.748189
B   -0.791606
C   -0.396803
D    2.271623
Name: 2015-09-18 00:00:00, dtype: float64

In [52]:
df

                   A         B         C         D
2015-09-15 -0.161949  0.946497  0.225647 -0.946139
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-19  1.019381  0.484248 -0.798768 -1.033555
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [53]:
df.iloc[0]

A   -0.161949
B    0.946497
C    0.225647
D   -0.946139
Name: 2015-09-15 00:00:00, dtype: float64

In [54]:
df.iloc[3:5,0:2]

                   A         B
2015-09-18 -0.748189 -0.791606
2015-09-19  1.019381  0.484248

In [55]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2015-09-16 -1.308118  1.281330
2015-09-17 -0.245752 -0.698568
2015-09-19  1.019381 -0.798768

In [56]:
df.iloc[1:3,:]

                   A         B         C         D
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121

In [57]:
df.iloc[:,1:3]

                   B         C
2015-09-15  0.946497  0.225647
2015-09-16 -0.434144  1.281330
2015-09-17  1.710772 -0.698568
2015-09-18 -0.791606 -0.396803
2015-09-19  0.484248 -0.798768
2015-09-20 -0.423886  0.944966

In [58]:
df.iloc[1,1]

-0.43414371284833292

In [59]:
df.iat[1,1]

-0.43414371284833292

In [60]:
df[df.A > 0]

                   A         B         C         D
2015-09-19  1.019381  0.484248 -0.798768 -1.033555

In [61]:
df[df.D > 0]

                   A         B         C         D
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623
2015-09-20 -0.667936 -0.423886  0.944966  0.082255

In [62]:
df[df > 0]

                   A         B         C         D
2015-09-15       NaN  0.946497  0.225647       NaN
2015-09-16       NaN       NaN  1.281330       NaN
2015-09-17       NaN  1.710772       NaN       NaN
2015-09-18       NaN       NaN       NaN  2.271623
2015-09-19  1.019381  0.484248       NaN       NaN
2015-09-20       NaN       NaN  0.944966  0.082255

In [63]:
df2 = df.copy()

In [64]:
df2['E'] = ['one', 'one','two','three','four','three']

In [65]:
df2

                   A         B         C         D      E
2015-09-15 -0.161949  0.946497  0.225647 -0.946139    one
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419    one
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121    two
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623  three
2015-09-19  1.019381  0.484248 -0.798768 -1.033555   four
2015-09-20 -0.667936 -0.423886  0.944966  0.082255  three

In [66]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121   two
2015-09-19  1.019381  0.484248 -0.798768 -1.033555  four

In [67]:
df2[df2['E'].isin(['one'])]

                   A         B         C         D    E
2015-09-15 -0.161949  0.946497  0.225647 -0.946139  one
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419  one

In [69]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20150916', periods=6))

In [70]:
s1

2015-09-16    1
2015-09-17    2
2015-09-18    3
2015-09-19    4
2015-09-20    5
2015-09-21    6
Freq: D, dtype: int64

In [71]:
df['F'] = s1
df

                   A         B         C         D   F
2015-09-15 -0.161949  0.946497  0.225647 -0.946139 NaN
2015-09-16 -1.308118 -0.434144  1.281330 -0.765419   1
2015-09-17 -0.245752  1.710772 -0.698568 -0.327121   2
2015-09-18 -0.748189 -0.791606 -0.396803  2.271623   3
2015-09-19  1.019381  0.484248 -0.798768 -1.033555   4
2015-09-20 -0.667936 -0.423886  0.944966  0.082255   5

In [72]:
df.at[dates[0],'A'] = 0
df.iat[0,1] = 0
df.loc[:,'D'] = np.array([5] * len(df))

In [73]:
df

                   A         B         C  D   F
2015-09-15  0.000000  0.000000  0.225647  5 NaN
2015-09-16 -1.308118 -0.434144  1.281330  5   1
2015-09-17 -0.245752  1.710772 -0.698568  5   2
2015-09-18 -0.748189 -0.791606 -0.396803  5   3
2015-09-19  1.019381  0.484248 -0.798768  5   4
2015-09-20 -0.667936 -0.423886  0.944966  5   5

In [75]:
df.at[dates[1],'A'] = -1
df.iat[2,2] = 0.5

In [77]:
df

                   A         B         C  D   F
2015-09-15  0.000000  0.000000  0.225647  5 NaN
2015-09-16 -1.000000 -0.434144  1.281330  5   1
2015-09-17 -0.245752  1.710772  0.500000  5   2
2015-09-18 -0.748189 -0.791606 -0.396803  5   3
2015-09-19  1.019381  0.484248 -0.798768  5   4
2015-09-20 -0.667936 -0.423886  0.944966  5   5

In [80]:
df2 = df.copy()

In [81]:
df2[df2 > 0] = -df2
df2

                   A         B         C  D   F
2015-09-15  0.000000  0.000000 -0.225647 -5 NaN
2015-09-16 -1.000000 -0.434144 -1.281330 -5  -1
2015-09-17 -0.245752 -1.710772 -0.500000 -5  -2
2015-09-18 -0.748189 -0.791606 -0.396803 -5  -3
2015-09-19 -1.019381 -0.484248 -0.798768 -5  -4
2015-09-20 -0.667936 -0.423886 -0.944966 -5  -5