In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [5]:
s1 = pd.Series([1,3,5])
s1

0    1
1    3
2    5
dtype: int64

In [6]:
s2 = pd.Series([1.1,3,5])

In [7]:
s2

0    1.1
1    3.0
2    5.0
dtype: float64

In [9]:
dates = pd.date_range('20150915', periods=6)
dates

DatetimeIndex(['2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18',
               '2015-09-19', '2015-09-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2015-09-15 -0.810983  0.551647 -0.257801 -0.261778
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-17  1.545043 -0.334921 -0.117245  1.402816
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-20 -0.411804  0.688935  0.555261 -0.889051

In [12]:
df1 = pd.DataFrame(np.random.randn(4,6), index=list('ABCD'), columns=dates)
df1

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.238749   -0.368630    1.500117    0.704586   -1.207108   -0.510448
B   -1.008645   -1.533395    0.194862   -0.041722    1.758212    0.903072
C    0.579109    0.561487    1.352029   -0.165049    0.449625   -1.299286
D   -0.521283    0.561583   -1.874726    0.778346   -0.838208    0.240571

In [14]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20150915'),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [15]:
df2

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  1 2015-09-15  1  3  train  foo
2  1 2015-09-15  1  3   test  foo
3  1 2015-09-15  1  3  train  foo

In [19]:
df3 = pd.DataFrame({ 'A' : list([1,2,3,4]),
                     'B' : pd.Timestamp('20150915'),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [20]:
df3

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  2 2015-09-15  1  3  train  foo
2  3 2015-09-15  1  3   test  foo
3  4 2015-09-15  1  3  train  foo

In [23]:
df3 = pd.DataFrame({ 'A' : list([1,2,3,4]),
                     'B' : pd.date_range('20150915', periods=4),
                     'C' : pd.Series(1, index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4, dtype='int32'),
                     'E' : pd.Categorical(["test", "train", "test", "train"]),
                     'F' : 'foo' })

In [24]:
df3

   A          B  C  D      E    F
0  1 2015-09-15  1  3   test  foo
1  2 2015-09-16  1  3  train  foo
2  3 2015-09-17  1  3   test  foo
3  4 2015-09-18  1  3  train  foo

In [34]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [35]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-35-e8d0e54abc86>, line 1)

In [36]:
df.head()

                   A         B         C         D
2015-09-15 -0.810983  0.551647 -0.257801 -0.261778
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-17  1.545043 -0.334921 -0.117245  1.402816
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-19  0.227452 -1.589743 -0.386720  0.173645

In [37]:
df.tail(3)

                   A         B         C         D
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-20 -0.411804  0.688935  0.555261 -0.889051

In [38]:
df.tail(2)

                   A         B         C         D
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-20 -0.411804  0.688935  0.555261 -0.889051

In [39]:
df.head(3)

                   A         B         C         D
2015-09-15 -0.810983  0.551647 -0.257801 -0.261778
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-17  1.545043 -0.334921 -0.117245  1.402816

In [40]:
df.head(7)

                   A         B         C         D
2015-09-15 -0.810983  0.551647 -0.257801 -0.261778
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-17  1.545043 -0.334921 -0.117245  1.402816
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-20 -0.411804  0.688935  0.555261 -0.889051

In [42]:
df.tail()

                   A         B         C         D
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-17  1.545043 -0.334921 -0.117245  1.402816
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-20 -0.411804  0.688935  0.555261 -0.889051

In [43]:
df.index

DatetimeIndex(['2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18',
               '2015-09-19', '2015-09-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [44]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [45]:
df.values

array([[-0.81098279,  0.5516474 , -0.2578009 , -0.26177762],
       [ 0.24263588, -0.05225848, -0.16682954, -2.64164016],
       [ 1.54504344, -0.33492141, -0.11724501,  1.40281613],
       [ 0.24296381, -0.34114393, -0.80699103, -1.91915755],
       [ 0.22745192, -1.58974276, -0.38672045,  0.17364515],
       [-0.41180371,  0.68893548,  0.55526056, -0.88905115]])

In [46]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.172551 -0.179581 -0.196721 -0.689194
std    0.800678  0.817804  0.443835  1.460718
min   -0.810983 -1.589743 -0.806991 -2.641640
25%   -0.251990 -0.339588 -0.354491 -1.661631
50%    0.235044 -0.193590 -0.212315 -0.575414
75%    0.242882  0.400671 -0.129641  0.064789
max    1.545043  0.688935  0.555261  1.402816

In [47]:
df2.describe()

       A  C  D
count  4  4  4
mean   1  1  3
std    0  0  0
min    1  1  3
25%    1  1  3
50%    1  1  3
75%    1  1  3
max    1  1  3

In [48]:
df.T

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.810983    0.242636    1.545043    0.242964    0.227452   -0.411804
B    0.551647   -0.052258   -0.334921   -0.341144   -1.589743    0.688935
C   -0.257801   -0.166830   -0.117245   -0.806991   -0.386720    0.555261
D   -0.261778   -2.641640    1.402816   -1.919158    0.173645   -0.889051

In [49]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2015-09-15 00:00:00,2015-09-15 00:00:00,2015-09-15 00:00:00,2015-09-15 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [50]:
df1.T

                   A         B         C         D
2015-09-15 -0.238749 -1.008645  0.579109 -0.521283
2015-09-16 -0.368630 -1.533395  0.561487  0.561583
2015-09-17  1.500117  0.194862  1.352029 -1.874726
2015-09-18  0.704586 -0.041722 -0.165049  0.778346
2015-09-19 -1.207108  1.758212  0.449625 -0.838208
2015-09-20 -0.510448  0.903072 -1.299286  0.240571

In [51]:
df1

   2015-09-15  2015-09-16  2015-09-17  2015-09-18  2015-09-19  2015-09-20
A   -0.238749   -0.368630    1.500117    0.704586   -1.207108   -0.510448
B   -1.008645   -1.533395    0.194862   -0.041722    1.758212    0.903072
C    0.579109    0.561487    1.352029   -0.165049    0.449625   -1.299286
D   -0.521283    0.561583   -1.874726    0.778346   -0.838208    0.240571

In [52]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2015-09-15 -0.261778 -0.257801  0.551647 -0.810983
2015-09-16 -2.641640 -0.166830 -0.052258  0.242636
2015-09-17  1.402816 -0.117245 -0.334921  1.545043
2015-09-18 -1.919158 -0.806991 -0.341144  0.242964
2015-09-19  0.173645 -0.386720 -1.589743  0.227452
2015-09-20 -0.889051  0.555261  0.688935 -0.411804

In [53]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2015-09-15 -0.810983  0.551647 -0.257801 -0.261778
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-17  1.545043 -0.334921 -0.117245  1.402816
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-20 -0.411804  0.688935  0.555261 -0.889051

In [56]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2015-09-20 -0.411804  0.688935  0.555261 -0.889051
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-17  1.545043 -0.334921 -0.117245  1.402816
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-15 -0.810983  0.551647 -0.257801 -0.261778

In [57]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2015-09-15 -0.810983  0.551647 -0.257801 -0.261778
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-17  1.545043 -0.334921 -0.117245  1.402816
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-20 -0.411804  0.688935  0.555261 -0.889051

In [58]:
df.sort(columns='B')

                   A         B         C         D
2015-09-19  0.227452 -1.589743 -0.386720  0.173645
2015-09-18  0.242964 -0.341144 -0.806991 -1.919158
2015-09-17  1.545043 -0.334921 -0.117245  1.402816
2015-09-16  0.242636 -0.052258 -0.166830 -2.641640
2015-09-15 -0.810983  0.551647 -0.257801 -0.261778
2015-09-20 -0.411804  0.688935  0.555261 -0.889051